!!!
%html
  %head
    %title Poker!
    %meta{:charset => "utf-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/twitter-bootstrap/bootstrap.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/application.css"}
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}\
    %script{:type => "text/javascript", :src => "/javascripts/jquery.flippy.min.js"}
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"}
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-sanitize.min.js"}
    %script{:tyoe => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/app.js"}
  %body#ng-app{"ng-app" => "poker", "ng-controller" => "pokerController"}
    %br
    .container-fluid
      .row-fluid
        .span8
          %h3{"ng-bind" => "tableStatus()"}
        .span4
          .waiting-actions{"ng-show" => "table.state == 'waiting'"}
            %a.btn.btn-primary{"ng-click" => "sendCommand('start_hand')", "ng-show" => "seatedPlayers().length > 1"}
              Shuffle up and deal!
          .active-actions{"ng-show" => "current_player.state == 'active'"}
            %form
              %a.btn.btn-primary{"ng-click" => "sendCommand('bet', numChips)"}
                Bet!
              %input.bet{:type => "text", "ng-model" => "numChips", :maxlength => 5}
              %a.btn{"ng-click" => "sendCommand('bet', 0)"} Check!
              %a.btn{"ng-click" => "sendCommand('fold')"} Fold!

      .row-fluid
        .span1
        .span10
          .table
            .felt
              .player{"ng-repeat" => "player in table.players", "ng-class" => "'seat' + $index"}
                .seat{"ng-click" => "sendCommand('choose_seat', $index)", "ng-class" => "seatClass(player)"}
                  .name{"ng-bind" => "player.name"}
                  .chips{"ng-bind" => "player.chips"}
                .cards
                  .card{"ng-repeat" => "card in playerHand(player)", "ng-class" => "cardClass(card)"}
                    %div{"ng-include" => "cardTemplate(card)"}
              .pot{"ng-show" => "table.state != 'waiting'"}
                %span Pot:
                %span{"ng-bind" => "table.pot"}
              .board
                .cards
                  .card{"ng-repeat" => "card in table.board", "ng-class" => "cardClass(card)"}
                    %div{"ng-include" => "cardTemplate(card)"}

        .span1
      .row-fluid.chat
        .span12
          .message{"ng-repeat" => "message in messages", "ng-bind" => "message"}

    .modal-backdrop.fade.in{"ng-hide" => "current_player"}
    .modal{"ng-hide" => "current_player"}
      %form{:style => "margin: 0;"}
        .modal-header
          %h3
            What's your name?
        .modal-body
          %input{:type => "text", "ng-model" => "myName", :required => true, :autofocus => true}
        .modal-footer
          %input.btn.btn-warning{:type => "submit", :value => "Let's play poker", "ng-click" => "connect()"}

