.controls {
  position: absolute;
  top: 5px;
  left: 10px;
}
.table {
  background-color: rgb(172, 104, 17);
  border-radius: 300px;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  border: 1px solid black;
  height: 500px;
  padding: 25px;
  margin-bottom: 50px;
}

.felt {
  background-color: green;
  padding: 20px;
  border-radius: 250px;
  -moz-border-radius: 250px;
  -webkit-border-radius: 250px;
  border: 1px solid black;
  height: 460px;
  position: relative;
}

.chat {
  background-color: #CCC;
  margin-bottom: 50px;
  height: 150px;
  overflow: scroll;
  padding: 10px;
}
.player {
  position: absolute;

  &.seat0 {
    top: 200px;
    left: -90px;
  }

  &.seat1 {
    top: -50px;
    left: 200px;
  }

  &.seat2 {
    top: -50px;
    right: 200px;
  }

  &.seat3 {
    right: -90px;
    top: 200px;
  }

  &.seat4 {
    right: 200px;
    bottom: -50px;
  }

  &.seat5 {
    left: 200px;
    bottom: -50px;
  }
}

.pot {
  position: absolute;
  top: 300px;
  left: 500px;
  .summary {
    position: absolute;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    z-index:10000;
  }
}
.board {
  position: absolute;
  top: 175px;
  left: 300px;
}

.seat {
  height: 75px;
  width: 165px;
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border: 1px solid black;
  text-align: center;
  margin-bottom: 5px;

  &.unoccupied {
    cursor: pointer;
  }
  &.active {
    background-color: black;
    border-color: white;
    color: white;
  }
  .name {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
  }

  .chips {
    font-size: 15px;
    margin-top: 10px;
  }
}

input.bet {
  width: 50px;
  margin: 0;
}
.cards {
  font-size: 5px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.diamond, .heart {
  color: red;
}

// more awesome - http://cssdeck.com/labs/css3-only-poker-chips

div.chip {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    border: 10px dotted #fff;
}

div.chip div {
    font-family: Verdana;
    text-align: center;
    line-height: 35px;
    font-size: 0.9em;
}

div.chip500 { background: #f7b55e }

div.chip100 {
    background: #333;
    color: #eee;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    border: 10px dotted #ccc;
}

div.chip25 { background: #92ed40 }

div.chip10 { background: #4cc3fe }

div.chip5 { background: #fd5f72 }

div.chip1 {
    background: #EEE;
    color: #333;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    border: 10px dotted #222;
}

div.disabled { opacity: 0.4 }


// awesome - http://donpark.github.com/scalable-css-playing-cards/

@font-face {
  font-family: 'Suit-Regular';
  src: url("/fonts/suit-regular.eot");
  src: url("/fonts/suit-regular.eot?#iefix") format('embedded-opentype'), url("/fonts/suit-regular.woff") format('woff'), url("/fonts/suit-regular.ttf") format('truetype'), url("/fonts/suit-regular.svg#suit-regular") format('svg');
  font-weight: normal;
  font-style: normal;
}

.card {
  background-color: #fff;
  font-family: 'Suit-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  float: left;
  width: 16em;
  height: 22.4em;
  margin: 0 1.2em 1.2em 0;
  position: relative;
  z-index: 2;
}
.card.noshadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.card .card-back img {
  width: 16em;
  height: 22.4em;
}
.card .flipped {
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card .heart,
.card .diamond {
  color: #df0000;
}
.card .corner {
  line-height: 1;
  position: absolute;
  text-align: center;
}
.card .corner span {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
.card .corner .number {
  font-size: 2em;
  height: 1.92em/2;
  line-height: 1.92em/2;
}
.card .corner.top {
  left: 0.64em;
  top: 0.96em;
}
.card .corner.bottom {
  bottom: 0.96em;
  right: 0.64em;
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .card-ace span.suit.middle_center {
  font-size: 10.24em;
  left: 0.45517241379310347em;
  top: 0.593103448275862em;
}
.card .card-ten .corner .number {
  font-size: 1.5em;
}
.card .face img {
  position: absolute;
  left: 2.56em;
  top: 2.08em;
  width: 10.8em;
  height: 18.24em;
}
.card .suit {
  font-size: 5.8em;
  font-weight: normal;
  width: 0.6896551724137931em;
  height: 0.786206896551724em;
  line-height: 0.786206896551724em;
  position: absolute;
  text-align: center;
}
.card .suit.top_center {
  left: 1.0482758620689656em;
  top: 0.3310344827586207em;
}
.card .suit.top_left {
  left: 0.41379310344827586em;
  top: 0.3310344827586207em;
}
.card .suit.top_right {
  right: 0.41379310344827586em;
  top: 0.3310344827586207em;
}
.card .suit.middle_center {
  left: 1.0482758620689656em;
  top: 1.517241379310345em;
}
.card .suit.middle_top {
  left: 1.0482758620689656em;
  top: 0.9655172413793103em;
}
.card .suit.middle_bottom {
  bottom: 0.9655172413793103em;
  left: 1.0482758620689656em;
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .suit.middle_left {
  left: 0.41379310344827586em;
  top: 1.517241379310345em;
}
.card .suit.middle_right {
  right: 0.41379310344827586em;
  top: 1.517241379310345em;
}
.card .suit.middle_top_center {
  left: 1.0482758620689656em;
  top: 0.8275862068965517em;
}
.card .suit.middle_top_left {
  left: 0.41379310344827586em;
  top: 1.103448275862069em;
}
.card .suit.middle_top_right {
  right: 0.41379310344827586em;
  top: 1.103448275862069em;
}
.card .suit.middle_bottom_left {
  bottom: 1.103448275862069em;
  left: 0.41379310344827586em;
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .suit.middle_bottom_right {
  bottom: 1.103448275862069em;
  right: 0.41379310344827586em;
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .suit.middle_bottom_center {
  bottom: 0.8275862068965517em;
  left: 1.0482758620689656em;
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .suit.bottom_center {
  bottom: 0.3310344827586207em;
  left: 1.0482758620689656em;
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .suit.bottom_left {
  bottom: 0.3310344827586207em;
  left: 0.41379310344827586em;
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .suit.bottom_right {
  bottom: 0.3310344827586207em;
  right: 0.41379310344827586em;
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
