.card-jack
  .corner.top
    %span.number{"ng-bind" => "cardRank(card)"}
    %span{"ng-bind-html" => "cardSuit(card)"}
  %span.face.middle_center
    %img{"ng-src" => "{{cardImage(card)}}"}
  .corner.bottom
    %span.number{"ng-bind" => "cardRank(card)"}
    %span{"ng-bind-html" => "cardSuit(card)"}
